body {
    font-weight: 300;
}

body.dark, .dark .docs-toc-link, .dark .docs-sidebar .nav > li:not(.active) > a, .dark .modal button.close, .dark input, .dark .form-control, .dark .form-control:focus {
    color: #f8f8f2;
    background: #232425;
    // background: #000000;
}

h2, hr {
  margin: 2rem 0;
}

h3, h4 {
  margin: 1rem 0;
}

// NAVIGATION 
.navbar {
    background: #141616;
}

.dark .navbar, .page-footer {
    // background:#232425;
    background: #a61e50;
    background: linear-gradient(90deg, rgb(129, 15, 57) 0%, #210469 100%); 
}

.dropdown-item {
    background-color: #141616 !important;
}

.dark .dropdown-menu {
    background-color:#232425 !important;
    color: white !important;
}

.dark .dropdown-item {
    background-color:#232425 !important;
}

.dark .home-section {
    background-color: #353535;
}

.dark .home-section:nth-of-type(2n) {
    background-color: #292a2c;
}

.dark .card {
    background: #202122;
}

.dark .card-simple {
    background: #202122;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    border: 1px solid #5e5f5f;
}

// TABLE OF CONTENTS 
#TableOfContents ul {
  margin-bottom: -.6rem;
}


// YouTube container
.yt-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.yt-playlist {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

blockquote {
    color: #a8a8a8;
}

pre code {
  color: rgb(248, 248, 242)
}

// hide disqus link for comments
.dsq-brlink {
  display: none;
}

// add div with this class to center an embed
// (tweets, Strava embeds, Pixelfed?)
.center-embed {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

@media (min-width:480px)  { 
  .center-embed iframe {
    width: 80%;  
  }
}

@media (max-width:480px)  { 
  .center-embed iframe {
    width: 100%;  
  }
}

// add next / previous nav buttons for blog series 
// (see 24 in 24)
.btn-row {
  display: flex;
  justify-content: center;
  background-color: #353535;
  border: 1px solid #A8A8A8;
  border-radius: 5px;
  padding: 1.8rem 0 0rem 0;
  margin-bottom: 2rem;
}

.btn-row>* {
  padding-right: 1rem;
}

.btn-row ul:first-child {
  padding-left: 1rem;
}

.btn-row a {
  line-height: 1.5em;
}

// Image gallery: make full-width masonry layout. 
// add to shortcode: {{< gallery resize_options="500x" album="..." >}}

div.gallery {
  display: flex;
  flex-wrap: wrap;
}
div.gallery a {
  flex-grow: 1;
  object-fit: cover;
  margin: 2px;
  display: flex;
}

div.gallery a img {            
  height: 180px !important;
  object-fit: cover;
  flex-grow: 1;
}

// Use Alfred snippet ';;vid' to insert a video and caption. Don't forget to add an alt tag too: 'alt="..."'
.video-caption {
  text-align: center;
  font-size: 0.8rem;
  margin-top: -1.5rem;
}

// Remove the page sharing social media icons and author (me) infor at the bottom of every page: 
.author-card, .share-box {
  display: none;
}

// CALLOUTS
.article-style aside p::before,
div.alert > div:first-child::before {
  color: #b72e60;
  display: none;
}

.article-style aside,
.alert-note {
  // color: #312c2d;
  color: #f8f8f2;
  background-color: #2c2e2f;
  border-color: #8a2248; 
  padding-left: 0.75rem;
}

.alert-note h1,
.alert-note h2,
.alert-note h3,
.alert-note h4,
.alert-note h5 {
  // color: #312c2d;
}

.alert-note .video-caption {
  margin-top: 0.5rem;
}

.alert-warning {
  color: #cd0930;
  background-color: #fff5f7;
  border-color: #ff3860;
}

div.alert a {
  color: #b72e60;
  text-decoration: none;
  border-bottom: none;
}


// Something fun to split an H3. See Pyrenees post page.
.flex-container {
  display: flex;
  justify-content: space-between;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}


